html,
body {
    font-family: 'Overpass', sans-serif;
    background-image: url(img/bg-vlogs.jpg);
    
    
    color: white;
}

* {
    box-sizing: border-box;
}


body{
    
    font-family: Whitney Medium, Arial;
    font-size: 18px;
    

}

.container {
    background-color: rgba(186, 186, 186, 0.13);
    padding: 2%;
}

.container-mirza {
    background-color: rgba(93, 124, 255, 0.09);
    transition: all 1s;
    
}

.container-mirza:hover {
    background-color: rgba(93, 124, 255, 0.33);
}

.container-dharmik:hover {
    background-color: rgba(255, 93, 93, 0.33);
}

.container-vinit:hover {
    background-color: rgba(93, 255, 174, 0.33);
}

.container-dharmik {
    background-color: rgba(255, 93, 93, 0.09);
    transition: all 1s;
    
}

.container-vinit {
    background-color: rgba(93, 255, 174, 0.09);
    transition: all 1s;
    
}

.container:first-child {
    margin-top: 1%;
}

.container:not(:nth-child(2)) {
    margin-top: 2%;
    
}

h1, h2{
    color: #069a11;
    

    padding-left: 10px;
    text-align: 


    
}

h1{
    font-size: 40px;
    padding-bottom: 20px;

}

h2{
    font-size: 25px;
    padding-bottom: 10px;

}

.main-text{
    text-align: justify;


    color: #cccccc;
    
    
    

}

.vlog-title {
    text-align:center; font-size:500%; margin-top:2%;
}




.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #45b0ff;
    margin: 1em 0;
    padding: 0; 
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    
}

.other {
    padding-bottom: 40px;
}

.image{
    
    
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    filter: grayscale();
    
}


.date {
    
    color: #cccccc;
    font-size: 100%;
    
}

.message {
    line-height: 200%;
}


body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(43, 51, 253, 0.62);
  outline: 1px solid slategrey;
}