html,
body {
    font-family: 'Overpass', sans-serif;
    background-image: url(img/bg-vlogs.jpg);
    color: white;
}


}
* {
    box-sizing: border-box;
}
body {
    font-family: Whitney Medium, Arial;
    font-size: 18px;
}
.container {
    background-color: rgba(186, 186, 186, 0.13);
    width: 100%;
    padding: 2%;
}
.container-mirza {
    background:
    /* top, transparent black, faked with gradient */
    
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* bottom, image */
    
    url(img/mirza-vlog-bg.jpeg);
    background-color: rgba(255, 93, 93, 0.3);
    transition: all 1s;
}
.container-dharmik {
    background:
    /* top, transparent black, faked with gradient */
    
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* bottom, image */
    
    url(img/dharmik-vlog-bg.jpg);
    background-color: rgba(255, 93, 93, 0.3);
    transition: all 1s;
}
.container-dharmik {
    background:
    /* top, transparent black, faked with gradient */
    
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* bottom, image */
    
    url(img/dharmik-vlog-bg.jpg);
    background-color: rgba(255, 93, 93, 0.3);
    transition: all 1s;
}
.container-Anonymous {
    background-color: rgba(255, 0, 0, 0.38);
    transition: all 1s;
}
.container-vinit {
    background:
    /* top, transparent black, faked with gradient */
    
    linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    /* bottom, image */
    
    url(img/vinit-vlog-bg.jpg);
    background-color: rgba(255, 93, 93, 0.3);
    transition: all 1s;
}
.container:first-child {
    margin-top: 1%;
}
.container:not(:nth-child(2)) {
    margin-top: 2%;
}
h1,
h2 {
    color: #069a11;
    padding-left: 10px;
    text-align:
}
h1 {
    font-size: 40px;
    padding-bottom: 20px;
}
h2 {
    font-size: 25px;
    padding-bottom: 10px;
}
.main-text {
    text-align: justify;
    color: #cccccc;
}
.blog-title {
    text-align: center;
    font-size: 500%;
    margin-top: 2%;
}
.login-modal-btn {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    float: left;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0.15);
    border: solid 2px white;
    transition: all 1s;
}
.login-modal-btn i {
    font-size: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.login-modal-btn i:hover {
    cursor: pointer;
    color: #de1717;
}
.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #45b0ff;
    margin: 1em 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.other {
    padding-bottom: 40px;
}
.image {
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    filter: grayscale();
}
.img-choose {
    height: 200px;
    border-radius: 50%;
    /*filter: grayscale(100);*/
    
    transition: all 0.5s;
}
.img-choose:hover {
    cursor: pointer;
    /*filter: grayscale(0);*/
}
.date {
    color: #cccccc;
    font-size: 100%;
}
.message {
    line-height: 200%;
}
#ret-btn {
    background-color: #c71313;
    width: 10%;
    text-align: center;
    padding: 2px;
    font-size: 100%;
    border-radius: 2%;
    ;
    transition: all 0.5s;
    border: solid 2px white;
}
#ret-btn:hover {
    cursor: pointer;
    background-color: #a30d1e;
    transform: scale(1.1);
}
#blogPushBtn,
.post-btn,
.push-btn {
    background-color: rgba(255, 255, 255, 0.15);
    width: 10%;
    text-align: center;
    padding: 2px;
    font-size: 100%;
    border-radius: 2%;
    transition: all 0.5s;
    margin-bottom: 1%;
    border: solid 2px white;
    color: white;
}
.push-btn {
    width: 75%;
    font-size: 150%;
    transition: all 0.5s;
    line-height: 35px;
    margin: 0 auto;
}
.reply-input,#btn-wts {
    height: 50px;
    width: 100%;
    margin-bottom: 1%;
    font-family: 'Overpass', sans-serif;
    font-size: 95%;
    letter-spacing: 1px;
    border-radius: 2%;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.26);
    border: 0px;
    resize: none;
    transition: all 0.5s;
}
.reply-input:hover {
    background-color: rgba(255, 255, 255, 0.56);
}
#blogPushBtn:hover,
.post-btn:hover,
.push-btn:hover {
    cursor: pointer;
    background-color: #0c7c14;
}
body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(43, 51, 253, 0.62);
    outline: 1px solid slategrey;
}
label>input {
    /* HIDE RADIO */
    
    visibility: hidden;
    /* Makes input not-clickable */
    
    position: absolute;
    /* Remove input from document flow */
}
label>input+img {
    /* IMAGE STYLES */
    
    cursor: pointer;
    border: 3px solid transparent;
}
label>input:checked+img {
    /* (RADIO CHECKED) IMAGE STYLES */
    
    border: 3px solid #f00;
}

/* Paste this css to your style sheet file or under head tag */

/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(img/preloader.gif) center no-repeat #fff;
}
.comment-box {
    background-color: red;
}
input::-webkit-input-placeholder {
    color: red !important;
}

/*
textarea::-webkit-input-placeholder {
    color: rgb(255, 0, 0) !important;
}*/
hr.divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.30));
}
.dtComment {
    margin-top: 1%;
    font-size: 80%;
    font-style: italic;
    letter-spacing: 1px;
    color: #bebebe;
}
.animate {
    transform: scale(0.95);
}

/** MODAL **/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 1%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}
.loginmodal-container button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.loginmodal-container input[type=text],
input[type=password] {
    color: black;
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    color: black;
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
  user-select: none; */
}
.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: all 0.5s;
}
.login-help {
    font-size: 12px;
}

/* SNACKBAR */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    
    to {
        bottom: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    
    to {
        bottom: 0;
        opacity: 0;
    }
}
